{% extends "layout.html" %}

{% block title %}
    Delete {{ asset.a_or_l }}
{% endblock %}

{% block body %}

  <!--<h2>Edit {{ asset.a_or_l }}</h2>-->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Delete {{ asset.a_or_l }}</h1>
  </div>

  <p>Would you like to delete all budgets, income and expense items relating to this account or transfer them to another account?</p>

  <div class="container">
    <form method="post">
      <div class="row">
        <div class="col-25">
        <input id="transfer_all" name="transfer_all" type="submit" value="Transfer all:" formaction="/transfer_asset" class="btn btn-secondary forminput" onclick="return confirm('Are you sure?');" style="float:right;">
        </div>
        <div class="col-75">
          <select id="transfer_account" name="transfer_account" class="forminput">
            <option value="" disabled selected hidden>Choose another account</option>
            {% for account_option in account_options %}
              {% if account_option != asset.desc %}
                <option value="{{ account_option }}">{{ account_option }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <input id="delete_all" name="delete_all" type="submit" value="Delete All" formaction="/delete_asset" class="btn btn-secondary forminput" onclick="return confirm('Are you sure?');">
        </div>
      </div>
    </form>
  </div>

  <!--<div class="container">-->
  <!--  <form method="post">-->
  <!--    <div class="row">-->
  <!--      <div class="col-25">-->
  <!--        <label for="desc" class="formlabel">Description</label>-->
  <!--      </div>-->
  <!--      <div class="col-75">-->
  <!--        <input type="text" id="desc" name="desc" required maxlength="30" class="forminput" value="{{ asset.desc }}">-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="row">-->
  <!--      <div class="col-25">-->
  <!--        <label for="type" class="formlabel">Type</label>-->
  <!--      </div>-->
  <!--      <div class="col-75">-->
  <!--        <select id="type" name="type" required class="forminput" value="{{ asset.type }}">-->
  <!--        <option value="{{ asset.type }}" selected="selected">{{ asset.type }}</option>-->
  <!--        {% if asset.a_or_l == "asset" %}-->
  <!--          {% for asset_type in asset_types %}-->
  <!--            {% if asset_type != asset.type and asset_type != "debt" %}-->
  <!--              <option value="{{ asset_type }}">{{ asset_type }}</option>-->
  <!--            {% endif %}-->
  <!--          {% endfor %}-->
  <!--        {% endif %}-->
  <!--        </select>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="row">-->
  <!--      <div class="col-25">-->
  <!--        <label for="amount" class="formlabel">Amount</label>-->
  <!--      </div>-->
  <!--      <div class="col-75">-->
  <!--        <input type="number" id="amount" name="amount" step="0.01" required class="forminput" value="{{ asset.amount }}">-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="row">-->
  <!--      <div class="col-25">-->
  <!--        <label for="subject" class="formlabel">Remarks</label>-->
  <!--      </div>-->
  <!--      <div class="col-75">-->
  <!--        <textarea id="remarks" name="remarks" rows="2" cols="50" maxlength="150" class="forminput" value="{{ asset.remarks }}"></textarea>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div style="float:right;">-->
  <!--      <input type="submit" value="Edit" formaction="/edit_asset" class="btn btn-secondary">-->
  <!--      <input id="delete_asset" name="delete_asset" type="submit" value="Delete" formaction="/delete_asset" class="btn btn-secondary">-->
  <!--    </div>-->
  <!--  </form>-->
  <!--</div>-->


{% endblock %}