{% extends "layout.html" %}

{% block title %}
    Edit {{ budget[2] }}
{% endblock %}

{% block body %}

  <!--<h2>Edit {{ budget.desc }}</h2>-->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Edit {{ budget[2] }}</h1>
  </div>

  <div class="container">
    <form method="post">
      <div class="row">
        <div class="col-25">
          <label for="desc" class="formlabel">Description</label>
        </div>
        <div class="col-75">
          <input type="text" id="desc" name="desc" required maxlength="30" class="forminput" value="{{ budget[2] }}" >
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="amount" class="formlabel">Amount Reserved</label>
        </div>
        <div class="col-75">
          <input type="number" id="amount" name="amount" step="0.01" required class="forminput" value="{{ budget[3] }}">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="account" class="formlabel">Account</label>
        </div>
        <div class="col-75">
          <select id="account" name="account" required class="forminput">
            <option value="{{ budget[4] }}" selected="selected">{{ budget[4] }}</option>
            {% for account_option in account_options %}
              {% if account_option != budget.account %}
                <option value="{{ account_option }}">{{ account_option }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="start" class="formlabel">Start Date</label>
        </div>
        <div class="col-75">
          <input type="date" id="start" name="start" required class="forminput" value="{{ budget[5] }}">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="end" class="formlabel">End Date</label>
        </div>
        <div class="col-75">
          <input type="date" id="end" name="end" required class="forminput" value="{{ budget[6] }}">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="remarks" class="formlabel">Remarks</label>
        </div>
        <div class="col-75">
          <textarea id="remarks" name="remarks" rows="2" cols="50" maxlength="150" class="forminput" value="{{ budget[7] }}"></textarea>
        </div>
      </div>
      <div style="float:right;">
        <input id="edit_budget" name="edit_budget" type="submit" value="Edit" formaction="/edit_budget" class="btn btn-secondary">
        <input id="delete_budget" name="delete_budget" type="submit" value="Delete" formaction="/delete_budget" class="btn btn-secondary" onclick="return confirm('Are you sure you wish to delete this budget?');">
      </div>
    </form>
  </div>

{% endblock %}