{% extends "layout.html" %}

{% block title %}
    Delete {{ asset.a_or_l }}
{% endblock %}

{% block body %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Delete {{ asset.a_or_l }}</h1>
  </div>

  <p>Would you like to delete all budgets, income and expense items relating to this account or transfer them to another account?</p>

  <div class="container">
    <form method="post">
      <div class="row">
        <div class="col-25">
        <input id="transfer_all" name="transfer_all" type="submit" value="Transfer all:" formaction="/transfer_asset" class="btn btn-secondary forminput" onclick="return confirm('Are you sure?');" style="float:right;">
        </div>
        <div class="col-75">
          <select id="transfer_account" name="transfer_account" class="forminput">
            <option value="" disabled selected hidden>Choose another account</option>
            {% for account_option in account_options %}
              {% if account_option != asset.desc %}
                <option value="{{ account_option }}">{{ account_option }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <input id="delete_all" name="delete_all" type="submit" value="Delete All" formaction="/delete_asset" class="btn btn-secondary forminput" onclick="return confirm('Are you sure?');">
        </div>
      </div>
    </form>
  </div>


{% endblock %}