{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}
    <!--form action="/password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old_password" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form-->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Change Password</h1>
    </div>
    <div class="container">
        <form action="/password" method="post">
        <div class="row">
          <div class="col-25">
            <label for="old_password" class="formlabel">Old Password</label>
          </div>
          <div class="col-75">
            <input type="password" id="old_password" name="old_password" required class="forminput">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="new_password" class="formlabel">New Password</label>
          </div>
          <div class="col-75">
            <input type="password" id="new_password" name="new_password" required class="forminput">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="confirmation" class="formlabel">Confirm New Password</label>
          </div>
          <div class="col-75">
            <input type="password" id="confirmation" name="confirmation" required class="forminput">
          </div>
        </div>
        <div class="row">
              <input type="submit" value="Change" class="btn btn-secondary">
        </div>
        </form>
    </div>

    <p>Passwords must be at least 8 characters and must contain at least 1 number, 1 lowercase letter, 1 uppercase letter and 1 special character !@#$%^&*()-+?_=,<>/</p>

{% endblock %}
